<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Basketball Team</title>
</head>

<body>
    <form action="">
        <label>Team Name: <%=@name%></label>
        <label>Coach: <%=@coach%></label>
        <label>Point Guard: <%=@pg%></label>
        <label>Shooting Guard: <%=@sg%></label>
        <label>Small Forward: <%=@sf%></label>
        <label>Power Forward: <%=@pf%></label>
        <label>Center: <%=@c%></label>
    </form>


</body>

</html>