<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <p>Team Name: <%= @Name %></p>
   <p>Coach: <%= @Coach %></p>
   <p>Point Guard: <%= @PointGuard %></p>
   <p>Shooting Guard: <%= @ShootingGuard %></p>
   <p>Small Forward: <%= @SmallForward %></p>
   <p>Power Forward: <%= @PowerForward %></p>
   <p>Center: <%= @Center %></p>
 


 </body>
</html>


